---
import Layout from "~/layouts/Layout.astro";
import {Title} from "~/components/title";
import {Paragraph} from "~/components/paragraph";
---
<Layout title="Crypto Karen">
    <Title>The Crypto-Karen</Title>
    <Paragraph>
        The Crypto-Karen are a group of Crypto-anti-anarchists. They thinks
        their individuality is more important than others peoples. They think
        they are above everythings and everybody should think like them. A
        summary: They are a bunch of assholes.
    </Paragraph>
</Layout>